stages:
  - setup
  - lint
  - build
  - test

variables:
  NODE_IMAGE: "node:18"
  CACHE_DIR: "$CI_PROJECT_DIR/.npm"
  WORKDIR: "$CI_PROJECT_DIR"

default:
  image: $NODE_IMAGE
  before_script:
    - corepack enable
    - npm ci
  cache:
    key: ${CI_COMMIT_REF_SLUG}
    paths:
      - node_modules/
      - .npm/

setup:
  stage: setup
  script:
    - node -v
    - npm -v
  rules:
    - if: $CI_PIPELINE_SOURCE

lint:
  stage: lint
  script:
    - npm run lint --if-present
  allow_failure: true
  rules:
    - if: $CI_PIPELINE_SOURCE

build:
  stage: build
  script:
    - npm run build --if-present
  artifacts:
    when: on_success
    paths:
      - dist/
  rules:
    - if: $CI_PIPELINE_SOURCE

test:
  stage: test
  variables:
    CI: "true"
  script:
    - npm run test:ci
  artifacts:
    when: always
    reports:
      coverage_report:
        coverage_format: cobertura
        path: frontend/coverage/cobertura-coverage.xml
    paths:
      - frontend/coverage/
  coverage: '/All files.*\s+(\d+\.\d+%)/'
  rules:
    - if: $CI_PIPELINE_SOURCE
