# --- Global ---
.DS_Store
Thumbs.db
*.log
.env
.env.*

# --- Node / Vite frontend ---
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# --- ASP.NET Core backend ---
backendAPI/bin/
backendAPI/obj/
backendAPI/*.user
backendAPI/*.suo
backendAPI/*.userosscache
backendAPI/*.sln.docstates
backendAPI/.vs/
backendAPI/wwwroot/dist/
backendAPI/appsettings.*.json

# --- ASP.NET Core backend test ---
backendAPI.Test.unit/bin/
backendAPI.Test.unit/obj/
backendAPI.Test.unit/*.user
backendAPI.Test.unit/*.suo
backendAPI.Test.unit/*.userosscache
backendAPI.Test.unit/*.sln.docstates
backendAPI.Test.unit/.vs/
backendAPI.Test.unit/wwwroot/dist/
backendAPI.Test.unit/appsettings.*.json



# --- IDEs ---
.vs/
.vscode/
.idea/
*.swp
