stages:
  - test
  - build
  - deploy

# Frontend test
test-frontend:
  stage: test
  image: node:22
  script:
    - cd frontend
    - npm ci
    - npm run lint
    - npm test



# --- Backend tests ---
test-backend:
  stage: test
  image: mcr.microsoft.com/dotnet/sdk:8.0
  script:
    - cd BackendAPI
    - dotnet restore
    - dotnet build --configuration Release
    - dotnet test --no-build
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - BackendAPI/**

# --- Backend build & push to GitLab Container Registry ---
build-backend:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  variables:
    DOCKERFILE: BackendAPI/Dockerfile
    CONTEXT: BackendAPI
    IMAGE: "$CI_REGISTRY_IMAGE/backendapi"
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - >
      /kaniko/executor
      --context "$CONTEXT"
      --dockerfile "$DOCKERFILE"
      --destination "$IMAGE:latest"
      --destination "$IMAGE:$CI_COMMIT_SHORT_SHA"
      --cache=true
      --cache-repo "$IMAGE/cache"
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      changes:
        - BackendAPI/**