# --- Global ---
.DS_Store
Thumbs.db
*.log
.env
.env.*

# --- Node / Vite frontend ---
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# --- ASP.NET Core backend ---
backendAPI/bin/
backendAPI/obj/
backendAPI/*.user
backendAPI/*.suo
backendAPI/*.userosscache
backendAPI/*.sln.docstates
backendAPI/.vs/
backendAPI/wwwroot/dist/
backendAPI/appsettings.*.json

# --- ASP.NET Core backend test ---
BackendAPI.Tests.Unit/bin/
BackendAPI.Tests.Unit/obj/
BackendAPI.Tests.Unit/*.user
BackendAPI.Tests.Unit/*.suo
BackendAPI.Tests.Unit/*.userosscache
BackendAPI.Tests.Unit/*.sln.docstates
BackendAPI.Tests.Unit/.vs/
BackendAPI.Tests.Unit/wwwroot/dist/
BackendAPI.Tests.Unit/appsettings.*.json



# --- IDEs ---
.vs/
.vscode/
.idea/
*.swp
