@import "tailwindcss";

.header-images {
  display: flex;
  gap: 1rem;
}

.header-image {
  height: 5rem;
  width: 5rem;
  background-image: url("/Images/header.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.logo-image {
  height: 5rem;
  width: 5rem;
  background-image: url("/Images/LogoChatApp.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
