.button {
  font-size: 15px;
  background-color: greenyellow;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.custom-nav-button {
  font-size: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.custom-nav-button--red {
  background-color: #fecaca;
  color: white;
}

.custom-nav-button--blue {
  background-color: #93c5fd;
  color: black;
}

.custom-nav-button--amber {
  background-color: #f59e0b;
  color: white;
}

.custom-nav-button--amber-light {
  background-color: #fde68a;
  color: black;
}

.custom-nav-button--purple {
  background-color: #a78bfa;
  color: white;
}
