/* .chat-bubble { */
/* max-width: 40%;
  width: fit-content; */
/* padding: 0.5rem 1rem; */
/* margin: 0.5rem 0; */
/* border-radius: 1rem; */
/* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
/* font-size: 1.5rem;
  font-weight: 600;
} */

/* .chat-bubble--sender {
  background-color: #bfdbfe; /* Tailwind's blue-200 */
/* color: black;
  margin-left: auto;
}

.chat-bubble--receiver {
  background-color: #e5e7eb; /* Tailwind's gray-200 */
/* color: black; */
/* margin-right: auto;
} */

.chat-bubble__meta {
  font-size: 1rem;
  color: #4b5563; /* Tailwind's gray-600 */
  margin-bottom: 0.25rem;
}

.chat-bubble__actions {
  display: flex;
  gap: 0.3rem;
  height: 2rem;
  width: 5rem;
}
.chat-bubble__actions img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  cursor: pointer;
}
