.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem;
  background-color: rgba(191, 222, 231, 0.699);
}

.header__image {
  height: 10rem;
  width: 10rem;
  object-fit: contain;
}

.header__center {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
}

.header__title {
  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2.25rem;
  font-weight: bold;
  color: #818cf8;
}

.header__nav {
  position: absolute;
  left: 0;
  margin-left: 11rem;
  display: flex;
  gap: 0.5rem;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.1rem;
  background-color: #f3f4f6;
  font-size: 0.875rem;
  color: #647997;
}
