.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
  z-index: 1;
}

.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 25px;
  font-weight: 500;
  color: rgb(33, 46, 58);
  transition: 0.2s;
  background-color: rgb(187, 217, 238);
  box-shadow: inset 0 0 5px black;
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.3);
}

.input__submit {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 16px;
  border: none;
  border-radius: 50px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 20px;
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.input__submit:hover {
  background-color: #05376d;
}
