/*for our nav links on signup and login pages */
.custom-link-button {
  margin-top: 10px;
  text-align: center;
  color: #5170aa;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5rem;
  display: inline-block;
  padding: 0.25rem 0.5rem;
}
