.user-card__layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0rem;
  border-radius: 1rem;
  border: 1px solid #5271af;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  background-color: antiquewhite;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
}

.user-card__info {
  flex: 0 0 80%;
  font-size: 1.4rem;
  color: #374151;
  min-width: 0;
}

.user-card__avatar {
  flex: 0 0 20%;
  position: relative;
  top: -70px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #5271af;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.user-card__email {
  font-size: 1rem;
  color: #4971c0;
}

.user-card__created {
  font-size: large;
  color: #3c414b;
}
.user-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center; /* optional: center the row */
}

.user-card {
  flex: 1 1 250px; /* grow, shrink, base width */
  max-width: 300px;
  box-sizing: border-box;
}

.user-card__userId {
  font-size: 15px;
  color: #259225;
}
